<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View All Avatars Here</title>
  </head>
  <body>

    {{avatars}}
        <div class ="allAvatarsHere">
          <a href="link">{{.}}</a>
        </div> <!-- end of "allAvatarsHere" class -->
    {{/avatars}}






    </div> <!-- the end of "container" class

  </body>
</html>
