<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <meta charset="utf-8">
  <title>View All Avatars Here</title>
</head>

<body>
  <header>
    <nav class="nav nav-pills nav-justified">
        <a class="nav-link active" href="/">View All</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Sign-up</a>
    </nav>
  </header>
  <div>
    <div class="allAvatarsHere">
      <a href="link"></a>
    </div>
    <!-- end of "allAvatarsHere" class -->






  </div>
  <!-- the end of "container" class-->

  </body>
</html>
