<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <meta charset="utf-8">
  <title>View All Avatars Here</title>
</head>

<body>
  <header>
    <nav class="">
      <a class="" href="/">View All</a>
      <a class="" href="/login">Login</a>
      <a class="" href="/register">Sign-up</a>
    </nav>
  </header>
  <main>
    <img src="./logo.png" alt="Avatar The Last Web Bender">
    <h3> View all charachters below or register and log in above to create your own! </h3>
    <div>
      <div class="allAvatarsHere">
      </div>
    </div>
  </main>
  <footer>
    <a class="" href="/logout">
      Logout
    </a>
  </footer>
</body>

</html>
