<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="../avatarStyles.css">
  <meta charset="utf-8">
  <title></title>
</head>
<body class=link7>
  <header>
    <nav>
      <ul class="">
        <a class="" href="/create/skintones"><li class="link1">Skintone</li></a>
        <a class="" href="/create/expressions"><li class="link2">Facial Expression</li></a>
        <a class="" href="/create/hair"><li class="link3">Hair</li></a>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Choose your Expression!</h1>
    <section id="div-catcher">
      <div id="chosen_skin_color" class="{{skinColor}}"></div>
      <div id="chosen_expression" class="{{facialExpression}}"></div>
      <div id="chosen_hair" class="{{hairStyle}}"></div>
    </section>
    <form class="" action="/create/expressions" method="post">
      <select class="custom-select" name="expression">
        <option selected>Choose a Expression</option>
        <option value="expression1.png">Expression 1</option>
        <option value="expression2.png">Expression 2</option>
        <option value="expression3.png">Expression 3</option>
        <option value="expression4.png">Expression 4</option>
      </select>
      <button class="btn btn-secondary" type="submit">Lock-In</button>
    </form>
  </main>
  <footer>
    <section id="display_options">
      <div id="expression_1"></div>
      <div id="expression_2"></div>
      <div id="expression_3"></div>
      <div id="expression_4"></div>
    </section>
  </footer>
</body>
</html>
