<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./styles.css">
  <meta charset="utf-8">
  <title></title>
</head>
<body class=link7>
  <header>
    <nav>
      <ul class="">
        <a class="" href="/create/skintones"><li class="link1">Skintone</li></a>
        <a class="" href="/create/expressions"><li class="link2">Facial Expression</li></a>
        <a class="" href="/create/hair"><li class="link3">Hair</li></a>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Choose your Expression!</h1>
    <section class="div-catcher">
      <div class="skin-color"></div>
      <div class="expression"></div>
      <div class="hair"></div>
    </section>
    <form class="" action=":id/create/expressions" method="post">
      <select name="facialexpressions">
        <option value="expression1">Expression 1</option>
        <option value="expression2">Expression 2</option>
        <option value="expression3">Expression 3</option>
        <option value="expression4">Expression 4</option>
      </select>
      <button type="submit">Lock-In</button>
    </form>
  </main>
</body>
</html>
