<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../avatarStyles.css">
  <meta charset="utf-8">
  <title></title>
</head>
<body class=link7>
  <header>
    <nav>
        <a class="" href="/create/skintones">Skintone</a>
        <a class="" href="/create/expressions">Facial Expression</a>
        <a class="" href="/create/hair">Hair</a>
    </nav>
  </header>
  <main>
    <h1>Choose your Expression!</h1>
    <section class="one-avatar">
      <div class=" avatar_item {{avatar.skintone}}"></div>
      <div class=" avatar_item {{avatar.expression}}"></div>
      <div class=" avatar_item {{avatar.hair}}"></div>
    </section>
    <form class="" action="/create/expressions" method="post">
      <select class="" name="expression">
        <option selected>Choose a Expression</option>
        <option value="expression-1">Expression 1</option>
        <option value="expression-2">Expression 2</option>
        <option value="expression-3">Expression 3</option>
        <option value="expression-4">Expression 4</option>
      </select>
      <button class="" type="submit">Lock-In</button>
    </form>
  </main>
  <footer>
    <section class="display_options">
      <h3>Expression 1</h3>
      <h3>Expression 2</h3>
      <h3>Expression 3</h3>
      <h3>Expression 4</h3>
    </section>
    <section class="display_options">
      <div id="expression_1"></div>
      <div id="expression_2"></div>
      <div id="expression_3"></div>
      <div id="expression_4"></div>
    </section>
  </footer>
</body>
</html>
