<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../avatarStyles.css">
  <meta charset="utf-8">
  <title></title>
</head>
<body class=link7>
  <header>
    <nav>
        <a class="" href="/create/skintones">Skintone</a>
        <a class="" href="/create/expressions">Facial Expression</a>
        <a class="" href="/create/hair">Hair</a>
    </nav>
  </header>
  <main>
    <h1>Choose your hairstyle!</h1>
    <section id="div-catcher">
      <div id="chosen_skin_color" class="{{skinColor}}"></div>
      <div id="chosen_expression" class="{{facialExpression}}"></div>
      <div id="chosen_hair" class="{{hairStyle}}"></div>
    </section>
    <form class="" action="/create/hair" method="POST">
      <select class="" name="hair">
        <option selected>Choose a Hairstyle</option>
        <option value="Hair1.png">Hair Style 1</option>
        <option value="Hair2.png">Hair Style 2</option>
        <option value="Hair3.png">Hair Style 3</option>
        <option value="Hair4.png">Hair Style 4</option>
      </select>
      <button class="" type="submit">Lock-In</button>
    </form>
  </main>
  <footer>
    <section class="display_options">
      <h3>Skintone 1</h3>
      <h3>Skintone 2</h3>
      <h3>Skintone 3</h3>
      <h3>Skintone 4</h3>
    </section>
    <section class="display_options">
      <div id="hair_1"></div>
      <div id="hair_2"></div>
      <div id="hair_3"></div>
      <div id="hair_4"></div>
    </section>
  </footer>
</body>
</html>
