<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="../avatarStyles.css">
  <meta charset="utf-8">
  <title></title>
</head>
<body class=link7>
  <header>
    <nav>
      <ul class="">
        <a class="" href="/create/skintones"><li class="link1">Skintone</li></a>
        <a class="" href="/create/expressions"><li class="link2">Facial Expression</li></a>
        <a class="" href="/create/hair"><li class="link3">Hair</li></a>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Choose your hairstyle!</h1>
    <section id="div-catcher">
      <div id="skin-color"></div>
      <div id="expression"></div>
      <div id="hair"></div>
    </section>
    <form class="" action=":id/create/hair" method="post">
      <select class="custom-select" name="hair">
        <option selected>Choose a Hairstyle</option>
        <option value="Hair1.png">Hair Style 1</option>
        <option value="Hair2.png">Hair Style 2</option>
        <option value="Hair3.png">Hair Style 3</option>
        <option value="Hair4.png">Hair Style 4</option>
      </select>
      <button class="btn btn-secondary" type="submit">Lock-In</button>
    </form>
  </main>
  <footer>
    <section id="display_options">
      <div id="hair_1"></div>
      <div id="hair_2"></div>
      <div id="hair_3"></div>
      <div id="hair_4"></div>
    </section>
  </footer>
</body>
</html>
