<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="./styles.css">
  <meta charset="utf-8">
  <title></title>
</head>
<body class=link7>
  <header>
    <nav>
      <ul class="">
        <a class="" href="/skintone"><li class="link1">Skintone</li></a>
        <a class="" href="/facialexpression"><li class="link2">Facial Expression</li></a>
        <a class="" href="/hair"><li class="link3">Hair</li></a>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Choose your hairstyle!</h1>
    <section class="div-catcher">
      <div class="skin-color"></div>
      <div class="expression"></div>
      <div class="hair"></div>
    </section>
    <form class="" action=":id/create/hair" method="post">
      <select name="hair">
        <option value="hair1">Hair Style 1</option>
        <option value="hair2">Hair Style 2</option>
        <option value="hair3">Hair Style 3</option>
        <option value="hair4">Hair Style 4</option>
      </select>
      <button type="submit">Lock-In</button>
    </form>
  </main>
</body>
</html>
