<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8">
    <title>Login Here</title>
  </head>
  <body>

    <div class = "header">
      <ul id="navbar">
       <div class ="three">
        <li><a href="login">Login</a></li>
        <li><a href="register">Register</a></li>
        <li><a href="avatars">Avatars</a></li>
       </div> <!-- end of "three" class -->
      </ul>
    </div>  <!-- end of "header" class -->



    <form action="/allAvatars">

      <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>

      </div> <!-- end of "container" class -->
    </form>

  </body>
</html>
