<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register Here</title>
  </head>
  <body>

    <div class = "header">
      <ul id="navbar">
       <div class ="three">
        <li><a href="login">Login</a></li>
        <li><a href="register">Register</a></li>
        <li><a href="avatars">Avatars</a></li>
       </div> <!-- end of "three" class -->
      </ul>
    </div>  <!-- end of "header" class -->

    <form action="/login">
      <div class="formBox">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

      <div class="buttons">
        <button type="button"  class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div> <!-- end of the "buttons" class -->
    </div> <!-- end of the "formBox" class -->
    </form>

  </body>
</html>
