<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8">
    <title>Register Here</title>
  </head>
  <body>

    <header>
      <nav class="nav nav-pills nav-justified">
          <a class="nav-link" href="/">View All</a>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link active" href="/register">Sign-up</a>
      </nav>
    </header>

    <form action="/login">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

      <div class="buttons">
        <button type="button"  class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div> <!-- end of the "buttons" class -->
    </form>

  </body>
</html>
