<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../avatarStyles.css">
  <meta charset="utf-8">
  <title></title>
</head>
<body class=link7>
  <header>
    <nav>
        <a class="" href="/create/skintones">Skintone</a>
        <a class="" href="/create/expressions">Facial Expression</a>
        <a class="" href="/create/hair">Hair</a>
    </nav>
  </header>
  <main>
    <h1>Choose your skintone!</h1>
    <section class="one-avatar">
      <div class=" avatar_item {{avatar.skintone}}"></div>
      <div class=" avatar_item {{avatar.expression}}"></div>
      <div class=" avatar_item {{avatar.hair}}"></div>
    </section>
    <form class="" action="/create/skintones" method="post">
      <select class="" name="skintone">
        <option selected>Choose a Skintone</option>
        <option value="skintone-1">Skintone 1</option>
        <option value="skintone-2">Skintone 2</option>
        <option value="skintone-3">Skintone 3</option>
        <option value="skintone-4">Skintone 4</option>
      </select>
      <button class="" type="submit">Lock-In</button>
    </form>
  </main>
  <footer>
    <section class="display_options">
      <h3>Skintone 1</h3>
      <h3>Skintone 2</h3>
      <h3>Skintone 3</h3>
      <h3>Skintone 4</h3>
    </section>
    <section class="display_options">
      <div id="skintone_1"></div>
      <div id="skintone_2"></div>
      <div id="skintone_3"></div>
      <div id="skintone_4"></div>
    </section>
  </footer>
</body>
</html>
