<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../avatarStyles.css">
  <meta charset="utf-8">
  <title></title>
</head>
<body class=link7>
  <header>
    <nav>
        <a class="" href="/create/skintones">Skintone</a>
        <a class="" href="/create/expressions">Facial Expression</a>
        <a class="" href="/create/hair">Hair</a>
    </nav>
  </header>
  <main>
    <h1>Choose your skintone!</h1>
    <section id="div-catcher">
      <div id="chosen_skin_color" class="{{skinColor}}"></div>
      <div id="chosen_expression" class="{{facialExpression}}"></div>
      <div id="chosen_hair" class="{{hairStyle}}"></div>
    </section>
    <form class="" action="/create/skintones" method="post">
      <select class="" name="skintone">
        <option selected>Choose a Skintone</option>
        <option value="./Skintone1.png">Skintone 1</option>
        <option value="./Skintone2.png">Skintone 2</option>
        <option value="./Skintone3.png">Skintone 3</option>
        <option value="./Skintone4.png">Skintone 4</option>
      </select>
      <button class="" type="submit">Lock-In</button>
    </form>
  </main>
  <footer>
    <section id="display_options">
      <div id="skintone_1"></div>
      <div id="skintone_2"></div>
      <div id="skintone_3"></div>
      <div id="skintone_4"></div>
    </section>
  </footer>
</body>
</html>
