body{
background-color: #5B6A87;
display: flex;
justify-content: center;
}

header{
position: fixed;
top: 100px;
left: 0;
}

nav > a{
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  color: black;
  text-decoration: none;
}

main{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

footer{
  position: fixed;
  top: 100px;
  right: 0;
  display: flex;
  flex-direction: column;
  width:300px;
  height: 400px;
}

nav{
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
list-style: none;
color: black;
text-decoration: none;
}

h1{
  margin-top: 20px;
}

button{
  background-color: lightgray;
  border-radius: 5px;
  margin: 5px;
  border-style: none;
}

select{
  background-color: lightgray;
  margin: 5px;
  border-style: none;
}

/**************Special IDs***************/
section{
  display: flex;
  flex-direction: column;
}

#display_options{
  height: 400px;
}

#display_options > div{
  height: 100px;
  width: 100px;
}

#skintone_1{
  background-image: url("Skintone1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#skintone_2{
  background-image: url("Skintone2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#skintone_3{
  background-image: url("Skintone3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#skintone_4{
  background-image: url("Skintone4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Hair*/
#hair_1{
  background-image: url("Hair1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hair_2{
  background-image: url("Hair2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hair_3{
  background-image: url("Hair3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hair_4{
  background-image: url("Hair4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*Expressions*/
#expression_1{
  background-image: url("Expression1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#expression_2{
  background-image: url("Expression2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#expression_3{
  background-image: url("Expression3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#expression_4{
  background-image: url("Expression4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*****************Landing Zone******************/
#div-catcher{
  position:relative;
  height: 300px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#chosen_skin_color{
  position: absolute;
  height: 300px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#chosen_expression{
  position: absolute;
  height: 300px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#chosen_hair{
  position: absolute;
  height: 300px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/***************Preview Avatar*********************/
.skintone-1{
  background-image: url("Skintone1.png");
}
.skintone-2{
  background-image: url("Skintone2.png");
}
.skintone-3{
  background-image: url("Skintone3.png");
}
.skintone-4{
  background-image: url("Skintone4.png");
}

.expression-1{
  background-image: url("Skintone1.png");
}
.expression-2{
  background-image: url("Skintone2.png");
}
.expression-3{
  background-image: url("Skintone3.png");
}
.expression-4{
  background-image: url("Skintone4.png");
}

.hair-1{
  background-image: url("Skintone1.png");
}
.hair-2{
  background-image: url("Skintone2.png");
}
.hair-3{
  background-image: url("Skintone3.png");
}
.hair-4{
  background-image: url("Skintone4.png");
}
